################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MoneyManager.SaraivaDev.API/obj/Debug/net5.0
/MoneyManager.SaraivaDev.API/bin/Debug/net5.0
/MoneyManager.SaraivaDev.API/obj
